@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
@media screen and (max-width: 750px){
  .lingue{
    margin-bottom: 5%;
    font-size: 200%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    width: 30%;
  }
  #cinese{
    background-size: 100% !important;
  }
  h1{
    font-size: 350% !important;
  }
}
*{
  word-wrap: break-word;
}
h1{
  animation: cambiamento 5s alternate infinite;
  font-family: "Hepta Slab";
  font-size: 500%;
}
h1,h2{
  text-align: center;
  color: white;
}
body{
  background-color: rgb( 48, 51, 59);
}
button{
  margin-bottom: 5%;
  font-size: 500%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  width: 50%;
}
#ucraino{
  background: rgb(252,222,70);
  background: linear-gradient(0deg, rgba(252,222,70,1) 47%, rgba(63,94,251,1) 47%); 

}
#spagnolo{
  background: rgb(255,69,0);
  background: linear-gradient(0deg, rgba(255,69,0,1) 20%, rgba(255,248,0,1) 20%, rgba(255,248,0,1) 80%, rgba(255,69,0,1) 80%); 
}
#cinese{
  background-image: url('bandiera.png');
  background-size: cover;
  background-size: 40%;
  background-color: red;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
}
@keyframes cambiamento {
    0% {
      font-weight: 1;
      transform: translateY(10px);
    }
    50% {
      font-weight: 900;
      transform: translateY(-10px);
    }
    100% {
      font-weight: 1;
      transform: translateY(10px);
    }
  }
/*
           _ _ _                                 ________   _____    
|      |  |     |   |      |  |    /\     |   |     |      |        
|\    /|  |     |   |\    /|  |   /  \    |\  |     |      |___     (*^_^*)
| \  / |  |     |   | \  / |  |  /____\   | \ |     |      |      
|  \/  |  |_ _ _|   |  \/  |  | /      \  |  \|     |      |_____  
*/ 